<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<WinampAbstractionLayer version="0.7">

<groupdef id="infoedit.general.content" autoheightsource="lastitem">
  <Wasabi:CheckBox x="0" y="0" text="Automatically update Media Info Editor to currently playing file"
    cfgattrib="{6A17D510-7833-4CEC-A420-F08F4B280782};Auto-update to current playing file"
  />

  <Wasabi:CheckBox id="lastitem" x="0" y="16" text="Always close Editor after saving changes"
    cfgattrib="{6A17D510-7833-4CEC-A420-F08F4B280782};Close window on update"
  />

</groupdef>

<groupdef id="infoedit.titlebox.content">
   <Wasabi:TitleBox x="3" y="0" w="-6" relatw="1" title="General Settings" content="infoedit.general.content" />
</groupdef>

<groupdef id="wasabi.infoedit.config">
   <Wasabi:TitleBox x="0" y="0" w="0" h="0" relatw="1" relath="1" title="Media Info Editor" content="infoedit.titlebox.content" />
</groupdef>

</WinampAbstractionLayer>
